<%- include('_head'); -%>
<div class="container mt-5">
  <h1 class="text-center">Créer un Nouveau Groupe</h1>

  <form action="/groupe/create-group" method="POST" class="mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Nom du Groupe:</label>
      <input type="text" id="name" name="name" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="max_users" class="form-label"
        >Nombre Maximum d'Utilisateurs:</label
      >
      <input
        type="number"
        id="max_users"
        name="max_users"
        class="form-control"
        min="1"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Créer le Groupe</button>
  </form>

  <div class="text-center mt-4">
    <a href="/users-without-group" class="btn btn-secondary"
      >Retourner à la liste des utilisateurs sans groupe</a
    >
  </div>
</div>
<%- include('_footer'); -%>
