<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Groupe</title>
</head>
<body>
    <h1>Détails du Groupe</h1>

    <h2>Nom du Groupe: <%= group.name %></h2>
    <p>Description: <%= group.description %></p>

    <h3>Membres du Groupe:</h3>
    <ul>
        <% if (group.members.length > 0) { %>
            <% group.members.forEach(member => { %>
                <li><%= member.username %></li>
            <% }); %>
        <% } else { %>
            <li>Aucun membre dans ce groupe.</li>
        <% } %>
    </ul>

    <a href="/users-without-group">Retourner à la liste des utilisateurs sans groupe</a>
</body>
</html>
