<%- include('_head'); -%>
<div class="container mt-5">
    <h1 class="text-center">Choisissez un pseudo</h1>

    <!-- Formulaire pour envoyer les données à la méthode connect du contrôleur -->
    <form action="/connect" method="POST" class="mt-4">
        <div class="mb-3">
            <label for="pseudo" class="form-label">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo" class="form-control" placeholder="Entrez votre pseudo" required>
        </div>
        <button type="submit" class="btn btn-primary">Me connecter</button>
    </form>
</div>
<%- include('_footer'); -%>