<body>
    <h1>Bonjour <%= user.pseudo %> !</h1>

    <%if (user.pseudo == "ADMIN"){ %>
        <input type="button" onclick="location.href='/groupe/create-group';" value="Créer un groupe" />
    <% } %>

    <% if (groupId) { %>
       
        <input type="button" onclick="location.href='/group-details/<%= groupId %>';" value="Voir votre groupe" />

    <% } else { %>
        <h2>Vous n'êtes pas dans un groupe.</h2>
    <% } %>

    <h1>Liste des utilisateurs sans groupe</h1>
    <ul>
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <li><%= user.username %></li>
            <% }); %>
        <% } else { %>
            <li>Aucun utilisateur sans groupe trouvé.</li>
        <% } %>
    </ul>
</body>
